.App{
    padding: 15px;
    // margin: 140px;
    background-color: rgb(255, 255, 255);
    
}
.body{
    // background-color: aqua;
}
.hellom{
    width: 100%;
    height: 100px;
    font-size: 50px;
    color: green;
    background-color: red;
}