body{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    background-color: orange;
    // font-size: 100px;
    font-weight: bolder;
    // color: red;
    @import "App";
}
.hello{
    width: 100%;
    height: 50px;
    font-size: 100px;
    color: aqua;
    background-color: red;
}